.container {
    position: relative;
    width: 220px;
  }
  
  .menu {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
  
    width: 100%;
  
    border-radius: 0.75rem;
  
    overflow: hidden;
  
    z-index: 100;
  }